
* {
    margin: 0;
    font-family: "Arimo", sans-serif;
}


/** Fondo **/
body {
    position: relative;
    z-index: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/Diapositiva1.JPG');
    background-repeat: repeat;
    background-position: 10% -70%;
    background-size: 200px;
    opacity: 0.1; 
    z-index: -1; /
}

/** Navegador **/
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E51A2F;
    
}

.log{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 25px;
}

.logo{
    height:30px;
}

#header-text{
    margin: 10px 20px;
}

.inicio{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

/** Ruleta **/
.ruleta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.spin {
    position: relative;
}

.center-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ruleta-boton {
    width: 80px; 
    height: 80px;
    background: url('../img/Logo\ ABIN\ S\ A\ S\ EDITADO.png') no-repeat center center; 
    background-size: contain; 
    cursor: pointer;
    margin: 20px 10px;
    font-size: 18px;  
    border: none;
}

.ruleta-boton:hover {
    width: 100px; 
    height: 100px;
    transition: .5s;
}

/* Estilos para la ventana modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
  
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 20px;
  border: 5px solid #E51A2F;
  width: 80%;
  border-radius: 15px;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
  display: flex;
  flex-direction: column;
}

.modal-content p{
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

.congratulations{
  color: #E51A2F
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  
/* Keyframes para la animación de fade-in */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.save-and-send {
    display: block;
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: #E51A2F;
    color: #fff;
    font-size: 25PX;
    cursor: pointer;
    margin: 15px 0px;
}

.save-and-send:hover {
    background-color: #f0f0f0;
    color: #E51A2F;
    border: 1px solid #E51A2F;
}

.user-info{
    color: #fff;
    font-size: 20px;
    margin: 0px 15px
}
